// VARIABLES
$soft-melon: #F3AF9D;
$dark-melon: #E8603C;
$dark-yellow: #FFC711;
$soft-silver: #DDDDDD;
$silver: #BCBCBC;
$white: #FFF;
$BebasNeue: "BebasNeue", "Roboto", Arial, sans-serif+!important;
$HelveticaNeue: "HelveticaNeue", "Roboto", Arial, sans-serif+!important;
// $img-dir: ../images/;
// $filename: {$filename}+.png;
// $img-icon-article: (#{$img-dir}#{$filename});

