// HOME
#home {
	.service_area {
		h3 {
			height: 50px;
		}
		.btn {
			@include btn();
		}
	}
	.text-sidebar {
		background-image: url(../images/heading-bg.png);

	}
	.text-box {
		margin-top: 0;
	}
}

@include single-servicebg('../images/portfolio.png', '../images/offer.png', '../images/follow.png');
